
::-webkit-scrollbar {
    width: 10px;
        height: 10px; 
      }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #203191, rgb(30 41 59 / var(--tw-bg-opacity, 1))); /* Thumb (scroll handle) color */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #4361a9, #5849a3); 
  }
  
  ::-webkit-scrollbar-track {
    background:inherit ;
  }
  